*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.dropdown{
  direction: rtl;
  margin-right: 50px;
}
.navbar-nav{
  --bs-scroll-height: 100px;
}
.icons{
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
#row_titel{
display: flex;
justify-content: space-around;
}

.card:hover img{
opacity: .5;
}

#imagehome{
  width: 25rem;
}
#imagehome:hover{
  opacity: .6;
}
#homeCol{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.ImageShopTitle img{
  width: 100%;
}
.ff{
  justify-content: center;
}



.card-img-top:hover ~ .ss{
  display: inline;
}








* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color:white;
  min-width: 400px;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
}




.navii{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:10px;
}
.nav_ul{
  display: flex;
  flex-direction: row;
}
.nav_ul li{
  margin-left: 8px;
}

.card-body-shop{
  position: absolute;
  background-color: white;
  opacity: 0.9;
  width: 100%;
  animation-duration: .3s;
  height: 100%;
  display: none;
}
#shopCard:hover  .card-body-shop{
  display: block;
  transform: translate(-2px,0px);
}


.card-body-home{
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0.8;
  width: 100%;
  margin-top: 40%;
}

.filterAndShop{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.filter{
  width: 250px;
}
.shopData{
  overflow-x: scroll;
  max-height: 90vh;
  overflow-x: hidden;
  padding-left: 5px;
}

.menuDropdown,.menuDropdownPrice{
  transform: translateY(100px) ;
  transition:all 1s ease-in;
  height: 0px;
}

.menuDropdown li,.menuDropdownPrice li{
  display: none;
}
#dropdwonButtonBranchName:hover .menuDropdown li{
  display: block;
}
#dropdwonButtonPrcie:hover .menuDropdownPrice li{
  display: block;
}

#dropdwonButtonBranchName:hover  .menuDropdown{
  display: block;
  transform: translateY(0px);
  height:100%;

}
#dropdwonButtonPrcie:hover  .menuDropdownPrice{
  display: block;
  transform: translateY(0px);
  height:100%;

}


