#row_titel{
display: flex;
justify-content: space-around;
}

.card:hover img{
opacity: .5;
}

#imagehome{
  width: 25rem;
}
#imagehome:hover{
  opacity: .6;
}
#homeCol{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.ImageShopTitle img{
  width: 100%;
}
.ff{
  justify-content: center;
}



.card-img-top:hover ~ .ss{
  display: inline;
}